<div>
    <a href='https://radumihairotariu.ro/home'>Home</a>
    <a href='https://radumihairotariu.ro/3dprinting'>3D Printing</a>
    <a href='https://radumihairotariu.ro/apps'>Apps</a>
    <a href='https://radumihairotariu.ro/books'>Books</a>
    <a href='https://radumihairotariu.ro/cpp'>C++</a>
    <a href='https://radumihairotariu.ro/cv'>Curriculum vitae</a>
    <a href='https://radumihairotariu.ro/games'>Games</a>
    <a href='https://radumihairotariu.ro/iqtests'>IQ Tests</a>
    <a href='https://radumihairotariu.ro/origami3d'>Origami 3D</a>
</div>
<div>
    <h1>3D Models</h1>
    <p><a href='radu/3dmodels/AA_Battery_Dispenser.stl' download='AA_Battery_Dispenser.stl'>Download AA Battery Dispenser in stl format</a></p>
    <p><a href='radu/3dmodels/AAA_Battery_Dispenser.stl' download='AAA_Battery_Dispenser.stl'>Download AAA Battery Dispenser in stl format</a></p>
    <p><a href='radu/3dmodels/Logitech_Keyboard_Feet.stl' download='Logitech_Keyboard_Feet.stl'>Download Logitech Keyboard Feet in stl format</a></p>
    <p><a href='radu/3dmodels/Marker_Holder.stl' download='Marker_Holder.stl'>Download Marker Holder in stl format</a></p>
    <p><a href='radu/3dmodels/Screw_Organizer_Body.stl' download='Screw_Organizer_Body.stl'>Download Screw Organizer Body in stl format</a></p>
    <p><a href='radu/3dmodels/Screw_Organizer_Drawer.stl' download='Screw_Organizer_Drawer.stl'>Download Screw Organizer Drawer in stl format</a></p> 
</div>