<div>
    <a href='https://radumihairotariu.ro/home'>Home</a>
    <a href='https://radumihairotariu.ro/3dprinting'>3D Printing</a>
    <a href='https://radumihairotariu.ro/apps'>Apps</a>
    <a href='https://radumihairotariu.ro/books'>Books</a>
    <a href='https://radumihairotariu.ro/cpp'>C++</a>
    <a href='https://radumihairotariu.ro/cv'>Curriculum vitae</a>
    <a href='https://radumihairotariu.ro/games'>Games</a>
    <a href='https://radumihairotariu.ro/iqtests'>IQ Tests</a>
    <a href='https://radumihairotariu.ro/origami3d'>Origami 3D</a>
</div>
<div>
    <h1>Android Applications</h1>
    <p>Apps developed for Android-running systems using Flutter.</p>
    <p>Nothing here so far. Check back later!</p>
    </br>
    <h1>iOS Applications</h1>
    <p>Apps developed for iOS-running systems.</p>
    <p>Nothing here so far. Check back later!</p>
    </br>
    <h1>Windows Applications</h1>
    <p>Apps developed for Windows-running systems.</p>
    <p>Nothing here so far. Check back later!</p>
    </br>
    <h1>Linux Applications</h1>
    <p>Apps developed for Linux-running systems.</p>
    <p>Nothing here so far. Check back later!</p>
    </br>
    <h1>MacOS Applications</h1>
    <p>Apps developed for macOS-running systems.</p>
    <p>Nothing here so far. Check back later!</p>
</div>