<div>
    <h1>Books Read (since January 2021)</h1>
        <table id="2022" style="margin-left: auto; margin-right: auto">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author(s)</th>
                <th>Language</th>
                <th>Pages</th>
                <th>Link</th>
                <th>Year Read</th>
            </tr>
            <tr>
                <td>4</td>
                <td>Drumul spre Medicină</td>
                <td>Codrin D. Tocuț</td>
                <td>Romanian</td>
                <td>203</td>
                <td><a href='https://www.google.com/search?q=codrin+tocut+drumul+spre+medicina'>Find it here</a></td>
                <td>2022</td>
            </tr>
            <tr>
                <td>3</td>
                <td>The Stand</td>
                <td>Stephen King</td>
                <td>English</td>
                <td>1344</td>
                <td><a href='https://www.amazon.co.uk/Stand-Stephen-King/dp/1444720732'>Buy it here</a></td>
                <td>2022</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Desperation</td>
                <td>Stephen King</td>
                <td>English</td>
                <td>704</td>
                <td><a href='https://uk.bookshop.org/books/desperation/9781444707830'>Buy it here</a></td>
                <td>2022</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Miturile Esențiale</td>
                <td>Victor Kernbach</td>
                <td>Romanian</td>
                <td>382</td>
                <td><a href='https://casaliterelor.ro/carte/miturile-esentiale-victor-kernbach/'>Buy it here</a></td>
                <td>2022</td>
            </tr>
        </table>
        <p></p>
        <table id="2021" style="margin-left: auto; margin-right: auto">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author(s)</th>
                <th>Language</th>
                <th>Pages</th>
                <th>Link</th>
                <th>Year Read</th>
            </tr>
            <tr>
                <td>11</td>
                <td>Carrie</td>
                <td>Stephen King</td>
                <td>English</td>
                <td>272</td>
                <td><a href='https://www.amazon.co.uk/Carrie-Stephen-King/dp/1444720694/'>Buy it here</a></td>
                <td>2021</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Fizica Imposibilului</td>
                <td>Michio Kaku</td>
                <td>Romanian</td>
                <td>488</td>
                <td><a href='https://www.edituratrei.ro/product.php/Michio_Kaku_Fizica_imposibilului_O_explorare_%C5%9Ftiin%C5%A3ific%C4%83_a_lumii_fazerelor_c%C3%A2mpurilor_de_for%C5%A3e_teleport%C4%83rii_%C5%9Fi_c%C4%83l%C4%83toriilor_%C3%AEn_timp/2251/'>Buy it here</a></td>
                <td>2021</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Christine</td>
                <td>Stephen King</td>
                <td>English</td>
                <td>749</td>
                <td><a href='https://www.amazon.co.uk/Christine-Stephen-King/dp/1444720708'>Buy it here</a></td>
                <td>2021</td>
            </tr>
            <tr>
                <td>8</td>
                <td>IT</td>
                <td>Stephen King</td>
                <td>English</td>
                <td>1376</td>
                <td><a href='https://www.hachette.co.uk/titles/stephen-king-3/it/9781473666948/'>Buy it here</a></td>
                <td>2021</td>
            </tr>
            <tr>
                <td>7</td>
                <td>The Bachman Books</td>
                <td>Stephen King</td>
                <td>English</td>
                <td>992</td>
                <td><a href='https://www.amazon.com/Bachman-Books-Stephen-King/dp/1444723537/ref=sr_1_1?dchild=1&keywords=the+bachman+books&qid=1617037143&s=books&sr=1-1'>Buy it here</a></td>
                <td>2021</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Ecuația care n-a putut fi rezolvată</td>
                <td>Mario Livio</td>
                <td>Romanian</td>
                <td>392</td>
                <td><a href='https://humanitas.ro/humanitas/carte/ecuatia-care-n-a-putut-fi-rezolvata'>Buy it here</a></td>
                <td>2021</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Jocul cu moartea</td>
                <td>Zaharia Stancu</td>
                <td>Romanian</td>
                <td>302</td>
                <td><a href='https://www.targulcartii.ro/zaharia-stancu/jocul-cu-moartea?an=1968&editura=Pentru+Literatura&coperta=Brosata+(paperback)&pid=264908'>Buy it here</a></td>
                <td>2021</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Dachau</td>
                <td>Paul Berben</td>
                <td>Romanian</td>
                <td>370</td>
                <td><a href='https://www.okazii.ro/paul-berben-istoria-lagarului-de-concentrare-de-la-dachau-1933-1945-a208183806?icid=CS7.P.VZ.04.15&ibid=pp_expirat[208183806]'>Buy it here</a></td>
                <td>2021</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Drum fără întoarcere</td>
                <td>Tudor Popescu</td>
                <td>Romanian</td>
                <td>269</td>
                <td><a href='https://www.targulcartii.ro/tudor-popescu/drum-fara-intoarcere-tineretului-1963-413389'>Buy it here</a></td>
                <td>2021</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Apărarea are cuvântul</td>
                <td>Petre Bellu</td>
                <td>Romanian</td>
                <td>205</td>
                <td><a href='https://www.okazii.ro/apararea-are-cuvantul-petre-bellu-a201737546'>Buy it here</a></td>
                <td>2021</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12 Rules for Life</td>
                <td>Jordan B. Peterson</td>
                <td>English</td>
                <td>448</td>
                <td><a href='https://www.amazon.com/12-Rules-Life-Antidote-Chaos/dp/0345816021'>Buy it here</a></td>
                <td>2021</td>
            </tr>
        </table>
    <h1>Books I've Written</h1>
        <p>Nothing here yet. Check in later!</p>
</div>>