<div>
    <a href='http://radumihairotariu.ro/home'>Home</a>
    <a href='http://radumihairotariu.ro/3dprinting'>3D Printing</a>
    <a href='http://radumihairotariu.ro/apps'>Apps</a>
    <a href='http://radumihairotariu.ro/books'>Books</a>
    <a href='http://radumihairotariu.ro/cpp'>C++</a>
    <a href='http://radumihairotariu.ro/cv'>Curriculum vitae</a>
    <a href='http://radumihairotariu.ro/games'>Games</a>
    <a href='http://radumihairotariu.ro/iqtests'>IQ Tests</a>
    <a href='http://radumihairotariu.ro/origami3d'>Origami 3D</a>
</div>
<div>
    <h1>Games for PC(Windows) or Mobile(Android/iOS)</h1>
        <p>Nothing here yet. Check in later!</p>
</div>