<h1>Softuri Educaționale - Materiale didactice - Teste și rezolvări</h1>
</br>
<p>Soft Educațional 1</p><input type="button" onclick="location.href='http://anisoara.rotariu.me/testeBAC';" value="Teste Bacalaureat" />
</br>
<p>Soft Educațional 1</p><input type="button" onclick="location.href='http://anisoara.rotariu.me/testeGM';" value="Teste Gazeta Matematică" />
</br>
<p>Soft Educațional 1</p><input type="button" onclick="location.href='http://anisoara.rotariu.me/testeADM';" value="Teste Admitere" />
</br>
<p>Soft Educațional 1</p><input type="button" onclick="location.href='http://anisoara.rotariu.me/testeCriteriiSiruri';" value="Teste Criterii Șiruri" />
</br>
<p>Soft Educațional 1</p><input type="button" onclick="location.href='http://anisoara.rotariu.me/testeLimiteSiruri';" value="Teste Limite Șiruri" />
</br>
<p>Soft Educațional 1</p><input type="button" onclick="location.href='http://anisoara.rotariu.me/testeLimiteParametri';" value="Teste Limite Parametri" />
</br>
