<h1>Materiale didactice. Softuri educaționale. Teste și rezolvări</h1>
</br>
<input type="button" onclick="location.href='http://anisoara.rotariu.me/testeBAC';" value="Teste Bacalaureat" />
</br>
<input type="button" onclick="location.href='http://anisoara.rotariu.me/testeGM';" value="Teste Gazeta Matematică" />
</br>
<input type="button" onclick="location.href='http://anisoara.rotariu.me/testeADM';" value="Teste Admitere" />
</br>
<input type="button" onclick="location.href='http://anisoara.rotariu.me/testeCriteriiSiruri';" value="Teste Criterii Șiruri" />
</br>
<input type="button" onclick="location.href='http://anisoara.rotariu.me/testeLimiteSiruri';" value="Teste Limite Șiruri" />
</br>
<input type="button" onclick="location.href='http://anisoara.rotariu.me/testeLimiteParametri';" value="Teste Limite Parametri" />
</br>
