<div>
    <h1>Radu-Mihai Rotariu</h1>
    <h2>household engineer</h2>
    </br>
    <p><input type="button" onclick="location.href='http://radumihairotariu.ro/3dprinting';" value="3D Printing" /></p>
    <p><input type="button" onclick="location.href='http://radumihairotariu.ro/apps';" value="Apps" /></p>
    <p><input type="button" onclick="location.href='http://radumihairotariu.ro/books';" value="Books" /></p>
    <p><input type="button" onclick="location.href='http://radumihairotariu.ro/cpp';" value="C++" /></p>
    <p><input type="button" onclick="location.href='http://radumihairotariu.ro/cv';" value="Curriculum vitae" /></p>
    <p><input type="button" onclick="location.href='http://radumihairotariu.ro/games';" value="Games" /></p>
    <p><input type="button" onclick="location.href='http://radumihairotariu.ro/iqtests';" value="IQ Tests" /></p>
    <p><input type="button" onclick="location.href='http://radumihairotariu.ro/origami3d';" value="Origami 3D" /></p>
</div>