<!DOCTYPE html>
    <head>
        <title>Rotariu Radu-Mihai</title>
        <link rel="icon" href="radu/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="styleR.css">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2969338729718827" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="background">
        </div>

        <script type="text/javascript">
            function showHide(id) {
                if(document.getElementById(id).style.display == 'inline') {
                    document.getElementById(id).style.display='none';
                }
                else {
                    document.getElementById(id).style.display='inline';
                }
            }
            function showHideInstructions(buttonId, divID) {
                if(document.getElementById(divID).style.display == 'inline') {
                    document.getElementById(divID).style.display='none';
                    document.getElementById(buttonId).setAttribute('value', "Show");
                }
                else {
                    document.getElementById(divID).style.display='inline';
                    document.getElementById(buttonId).setAttribute('value', "Hide");
                }
            }
            function hideCurrentShowNext(id1, id2) {
                document.getElementById(id1).style.display='none';
                document.getElementById(id2).style.display='inline';
            }
        </script>

        <main>
            <%- body -%>
        </main>
    
        <footer>
            &copy;2020-2021 Radu-Mihai Rotariu. If you want to help, support me in what I do by donating via 
            <a href='https://paypal.me/mikewheelmaker'><img src='radu/images/paypalLogo.png' width='25' height='25' style="vertical-align: middle"></a>. Thanks!
        </footer>
    </body>
</html>
