<!DOCTYPE html>
    <head>
        <title>Rotariu Family</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="background">
        </div>

        <main>
            <%- body -%>
        </main>
    
        <footer>
            &copy;2018-2020 Radu-Mihai Rotariu & Anisoara Rotariu
        </footer>
    </body>
</html>
