<!DOCTYPE html>
    <head>
        <title>Rotariu Family</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="background">
        </div>

        <script type="text/javascript">
            function show(id) {
                document.getElementById(id).style.display='inline';
            }
            function hide(id) {
                document.getElementById(id).style.display='none';
            }
        </script>

        <main>
            <%- body -%>
        </main>
    
        <footer>
            &copy;2018-2020 Radu-Mihai Rotariu & Anisoara Rotariu
        </footer>
    </body>
</html>
