<div>
    <a href='https://radumihairotariu.ro/home'>Home</a>
    <a href='https://radumihairotariu.ro/3dprinting'>3D Printing</a>
    <a href='https://radumihairotariu.ro/apps'>Apps</a>
    <a href='https://radumihairotariu.ro/books'>Books</a>
    <a href='https://radumihairotariu.ro/cpp'>C++</a>
    <a href='https://radumihairotariu.ro/cv'>Curriculum vitae</a>
    <a href='https://radumihairotariu.ro/games'>Games</a>
    <a href='https://radumihairotariu.ro/iqtests'>IQ Tests</a>
    <a href='https://radumihairotariu.ro/origami3d'>Origami 3D</a>
</div>
<h1 style="text-align: center">Serebryakov Matrices (97-160)</h1>
<form action="/resultSerebryakov" method="POST">
    <p>You have correctly answered <%- ser.length - Raspunsuri_gresite.length -%> out of <%- ser.length -%> matrices.</p>
    <% if(ser.length - Raspunsuri_gresite.length == 36) { %>
        <p>Based on this score, your IQ is 160.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 35) { %>
        <p>Based on this score, your IQ is 158.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 34) { %>
        <p>Based on this score, your IQ is 156.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 33) { %>
        <p>Based on this score, your IQ is 154.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 32) { %>
        <p>Based on this score, your IQ is 152.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 31) { %>
        <p>Based on this score, your IQ is 150.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 30) { %>
        <p>Based on this score, your IQ is 148.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 29) { %>
        <p>Based on this score, your IQ is 146.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 28) { %>
        <p>Based on this score, your IQ is 144.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 27) { %>
        <p>Based on this score, your IQ is 142.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 26) { %>
        <p>Based on this score, your IQ is 140.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 25) { %>
        <p>Based on this score, your IQ is 138.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 24) { %>
        <p>Based on this score, your IQ is 136.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 23) { %>
        <p>Based on this score, your IQ is 134.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 22) { %>
        <p>Based on this score, your IQ is 132.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 21) { %>
        <p>Based on this score, your IQ is 130.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 20) { %>
        <p>Based on this score, your IQ is 128.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 19) { %>
        <p>Based on this score, your IQ is 126.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 18) { %>
        <p>Based on this score, your IQ is 125.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 17) { %>
        <p>Based on this score, your IQ is 123.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 16) { %>
        <p>Based on this score, your IQ is 121.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 15) { %>
        <p>Based on this score, your IQ is 119.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 14) { %>
        <p>Based on this score, your IQ is 117.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 13) { %>
        <p>Based on this score, your IQ is 115.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 12) { %>
        <p>Based on this score, your IQ is 113.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 11) { %>
        <p>Based on this score, your IQ is 111.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 10) { %>
        <p>Based on this score, your IQ is 109.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 9) { %>
        <p>Based on this score, your IQ is 107.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 8) { %>
        <p>Based on this score, your IQ is 105.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 7) { %>
        <p>Based on this score, your IQ is 103.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 6) { %>
        <p>Based on this score, your IQ is 101.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 5) { %>
        <p>Based on this score, your IQ is 99.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length == 4) { %>
        <p>Based on this score, your IQ is 97.</p>
    <% } %>
    <% if(ser.length - Raspunsuri_gresite.length < 4) { %>
        <p>Based on this score, your IQ is below 97.</p>
    <% } %>
</form>