<a href='http://anisoara.rotariu.me/home'>Acasă</a>
<h1>Soft Educațional pentru Performanță Școlară - Teste Bacalaureat</h1>

<div>
    <img src="anisoara\testeBAC\BAC1.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="0" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="0" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="0" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="0" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('BAC1r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('BAC1r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeBAC\BAC1r1.png" id="BAC1r1" style="display:none">
    </p>
    <img src="anisoara\testeBAC\BAC2.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="1" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="1" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="1" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="1" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('BAC2r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('BAC2r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeBAC\BAC2r1.png" id="BAC2r1" style="display:none">
    </p>
    <img src="anisoara\testeBAC\BAC3.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="2" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="2" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="2" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="2" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <img src="anisoara\testeBAC\BAC4.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="3" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="3" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="3" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="3" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <img src="anisoara\testeBAC\BAC5.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="4" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="4" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="4" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="4" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <img src="anisoara\testeBAC\BAC6.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="5" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="5" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="5" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="5" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <img src="anisoara\testeBAC\BAC7.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="6" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="6" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="6" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="6" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <img src="anisoara\testeBAC\BAC8.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="7" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="7" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="7" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="7" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <img src="anisoara\testeBAC\BAC9.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="8" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="8" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="8" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="8" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <img src="anisoara\testeBAC\BAC10.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="9" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="9" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="9" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="9" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('BAC10r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('BAC10r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeBAC\BAC10r1.png" id="BAC10r1" style="display:none">
    </p>
</div>