<a href='http://anisoara.rotariu.me/home'>Acasă</a>
<h1>Soft Educațional pentru Performanță Școlară - Teste Criterii Șiruri</h1>

<div>
    <img src="anisoara\testeCS\CS1.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="0" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="0" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="0" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="0" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS1r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS1r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS1r1.png" id="CS1r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS2.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="1" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="1" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="1" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="1" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS2r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS2r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS2r1.png" id="CS2r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS3.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="2" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="2" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="2" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="2" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS3r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS3r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS3r1.png" id="CS3r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS4.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="3" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="3" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="3" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="3" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS4r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS4r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS4r1.png" id="CS4r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS5.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="4" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="4" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="4" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="4" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS5r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS5r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS5r1.png" id="CS5r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS6.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="5" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="5" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="5" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="5" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS6r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS6r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS6r1.png" id="CS6r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS7.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="6" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="6" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="6" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="6" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS7r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS7r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS7r1.png" id="CS7r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS8.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="7" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="7" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="7" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="7" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS8r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS8r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS8r1.png" id="CS8r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS9.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="8" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="8" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="8" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="8" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS9r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS9r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS9r1.png" id="CS9r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS10.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="9" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="9" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="9" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="9" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS10r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS10r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS10r1.png" id="CS10r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS11.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="10" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="10" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="10" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="10" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS11r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS11r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS11r1.png" id="CS11r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS12.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="11" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="11" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="11" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="11" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS12r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS12r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS12r1.png" id="CS12r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS13.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="12" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="12" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="12" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="12" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS13r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS13r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS13r1.png" id="CS13r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS14.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="13" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="13" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="13" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="13" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS14r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS14r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS14r1.png" id="CS14r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS15.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="14" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="14" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="14" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="14" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS15r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS15r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS15r1.png" id="CS15r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS16.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="15" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="15" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="15" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="15" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS16r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS16r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS16r1.png" id="CS16r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS17.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="16" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="16" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="16" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="16" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS17r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS17r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS17r1.png" id="CS17r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS18.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="17" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="17" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="17" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="17" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS18r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS18r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS18r1.png" id="CS18r1" style="display:none">
    </p>
    <img src="anisoara\testeCS\CS19.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="18" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="18" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="18" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="18" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('CS19r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('CS19r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeCS\CS19r1.png" id="CS19r1" style="display:none">
    </p>
</div>