<a href='http://anisoara.rotariu.me/home'>Acasă</a>
<h1>Soft Educațional pentru Progres Școlar - Teste Limite Parametri</h1>

<div>
    <img src="anisoara\testeLP\LP1.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="0" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="0" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="0" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="0" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('LP1r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('LP1r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeLP\LP1r1.png" id="LP1r1" style="display:none">
    </p>
    <img src="anisoara\testeLP\LP2.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="1" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="1" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="1" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="1" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('LP2r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('LP2r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeLP\LP2r1.png" id="LP2r1" style="display:none">
    </p>
    <img src="anisoara\testeLP\LP3.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="2" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="2" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="2" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="2" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('LP3r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('LP3r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeLP\LP3r1.png" id="LP3r1" style="display:none">
    </p>
    <img src="anisoara\testeLP\LP4.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="3" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="3" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="3" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="3" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('LP4r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('LP4r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeLP\LP4r1.png" id="LP4r1" style="display:none">
    </p>
    <img src="anisoara\testeLP\LP5.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="4" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="4" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="4" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="4" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('LP5r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('LP5r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeLP\LP5r1.png" id="LP5r1" style="display:none">
    </p>
    <img src="anisoara\testeLP\LP6.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="5" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="5" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="5" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="5" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('LP6r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('LP6r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeLP\LP6r1.png" id="LP6r1" style="display:none">
    </p>
    <img src="anisoara\testeLP\LP7.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="6" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="6" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="6" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="6" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('LP7r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('LP7r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeLP\LP7r1.png" id="LP7r1" style="display:none">
    </p>
    <img src="anisoara\testeLP\LP8.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="7" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="7" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="7" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="7" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('LP8r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('LP8r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeLP\LP8r1.png" id="LP8r1" style="display:none">
    </p>
    <img src="anisoara\testeLP\LP9.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="8" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="8" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="8" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="8" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('LP9r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('LP9r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeLP\LP9r1.png" id="LP9r1" style="display:none">
    </p>
    <img src="anisoara\testeLP\LP10.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="9" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="9" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="9" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="9" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('LP10r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('LP10r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeLP\LP10r1.png" id="LP10r1" style="display:none">
    </p>
    <img src="anisoara\testeLP\LP11.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="10" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="10" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="10" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="10" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('LP11r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('LP11r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeLP\LP11r1.png" id="LP11r1" style="display:none">
    </p>
    <img src="anisoara\testeLP\LP12.png">
    </br>
    <p>
        <label class="container">a
            <input type="radio" name="11" value="0" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="11" value="1" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="11" value="2" disabled>
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="11" value="3" disabled>
            <span class="checkmark"></span>
        </label>
    </p>
    <p>
        <input type="button" onclick="show('LP12r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('LP12r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeLP\LP12r1.png" id="LP12r1" style="display:none">
    </p>
</div>