<div>
    <a href='http://anisoara.rotariu.me/home'>Acasă</a>
    <a href='http://anisoara.rotariu.me/testeBAC'>Teste Bacalaureat</a>
    <a href='http://anisoara.rotariu.me/testeGM'>Teste Gazeta Matematică</a>
    <a href='http://anisoara.rotariu.me/testeADM'>Teste Admitere</a>
    <a href='http://anisoara.rotariu.me/testeCriteriiSiruri'>Teste Criterii Șiruri</a>
    <a href='http://anisoara.rotariu.me/testeLimiteSiruri'>Teste Limite Șiruri</a>
    <a href='http://anisoara.rotariu.me/testeLimiteParametri'>Teste Limite Parametri</a>
</div>
<h1>Soft Educațional pentru Performanță Școlară - Teste Bacalaureat</h1>

<form action="/rezultatBAC" method="POST">
    <div>
        <img src="anisoara\testeBAC\BAC1.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="0" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="0" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="0" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="0" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeBAC\BAC2.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="1" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="1" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="1" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="1" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeBAC\BAC3.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="2" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="2" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="2" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="2" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeBAC\BAC4.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="3" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="3" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="3" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="3" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeBAC\BAC5.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="4" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="4" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="4" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="4" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeBAC\BAC6.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="5" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="5" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="5" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="5" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeBAC\BAC7.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="6" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="6" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="6" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="6" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeBAC\BAC8.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="7" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="7" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="7" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="7" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeBAC\BAC9.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="8" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="8" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="8" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="8" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeBAC\BAC10.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="9" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="9" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="9" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="9" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
    </div>
    <input type="submit" value="Trimite rezolvări">
</form>