<a href='http://anisoara.rotariu.me/home'>Acasă</a>
<h1>Soft Educațional pentru Progres Școlar - Teste Limite Șiruri</h1>

<form action="/rezultatLS" method="POST">
    <div>
        <img src="anisoara\testeLS\LS1.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="0" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="0" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="0" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="0" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeLS\LS2.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="1" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="1" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="1" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="1" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeLS\LS3.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="2" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="2" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="2" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="2" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeLS\LS4.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="3" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="3" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="3" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="3" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeLS\LS5.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="4" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="4" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="4" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="4" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeLS\LS6.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="5" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="5" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="5" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="5" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeLS\LS7.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="6" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="6" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="6" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="6" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeLS\LS8.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="7" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="7" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="7" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="7" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeLS\LS9.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="8" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="8" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="8" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="8" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeLS\LS10.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="9" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="9" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="9" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="9" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeLS\LS11.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="10" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="10" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="10" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="10" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeLS\LS12.png">
        </br>
        <p>
            <label class="container">a
                <input type="radio" name="11" value="0">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="11" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="11" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="11" value="3">
                <span class="checkmark"></span>
            </label>
        </p>
        <img src="anisoara\testeLS\LS13.png">
        </br>
        <img src="anisoara\testeLS\LS14.png">
        </br>
        <img src="anisoara\testeLS\LS15.png">
        </br>
        <img src="anisoara\testeLS\LS16.png">
        </br>
        <img src="anisoara\testeLS\LS17.png">
        </br>
        <img src="anisoara\testeLS\LS18.png">
        </br>
        <img src="anisoara\testeLS\LS19.png">
        </br>
        <img src="anisoara\testeLS\LS20.png">
        </br>
        <img src="anisoara\testeLS\LS21.png">
        </br>
        <img src="anisoara\testeLS\LS22.png">
        </br>
        <img src="anisoara\testeLS\LS23.png">
        </br>
        <img src="anisoara\testeLS\LS24.png">
        </br>
        <img src="anisoara\testeLS\LS25.png">
        </br>
        <img src="anisoara\testeLS\LS26.png">
        </br>
        <img src="anisoara\testeLS\LS27.png">
        </br>
        <img src="anisoara\testeLS\LS28.png">
        </br>
        <img src="anisoara\testeLS\LS29.png">
        </br>
        <img src="anisoara\testeLS\LS30.png">
        </br>
        <img src="anisoara\testeLS\LS31.png">
        </br>
    </div>
    <input type="submit" value="Trimite rezolvări">
</form>