<a href='http://anisoara.rotariu.me/home'>Acasă</a>
<h1>Soft Educațional pentru Performanță Școlară - Teste Gazeta Matematică</h1>

<div>
    <img src="anisoara\testeGM\GM1.png">
    </br>
    <p>
        <input type="button" onclick="show('GM1r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('GM1r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM1r1.png" id="GM1r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM2.png">
    </br>
    <p>
        <input type="button" onclick="show('GM2r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('GM2r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM2r1.png" id="GM2r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM3.png">
    </br>
    <p>
        <input type="button" onclick="show('GM3r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('GM3r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM3r1.png" id="GM3r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM4.png">
    </br>
    <p>
        <input type="button" onclick="show('GM4r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('GM4r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM4r1.png" id="GM4r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM5.png">
    </br>
    <p>
        <input type="button" onclick="show('GM5r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('GM5r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM5r1.png" id="GM5r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM6.png">
    </br>
    <p>
        <input type="button" onclick="show('GM6r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('GM6r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM6r1.png" id="GM6r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM7.png">
    </br>
    <p>
        <input type="button" onclick="show('GM7r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('GM7r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM7r1.png" id="GM7r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM8.png">
    </br>
    <p>
        <input type="button" onclick="show('GM8r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('GM8r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM8r1.png" id="GM8r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM9.png">
    </br>
    <p>
        <input type="button" onclick="show('GM9r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('GM9r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM9r1.png" id="GM9r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM10.png">
    </br>
    <p>
        <input type="button" onclick="show('GM10r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('GM10r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM10r1.png" id="GM10r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM11.png">
    </br>
    <p>
        <input type="button" onclick="show('GM11r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('GM11r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM11r1.png" id="GM11r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM12.png">
    </br>
    <p>
        <input type="button" onclick="show('GM12r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('GM12r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM12r1.png" id="GM12r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM13.png">
    </br>
    <p>
        <input type="button" onclick="show('GM13r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('GM13r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM13r1.png" id="GM13r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM14.png">
    </br>
    <p>
        <input type="button" onclick="show('GM14r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('GM14r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM14r1.png" id="GM14r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM15.png">
    </br>
    <p>
        <input type="button" onclick="show('GM15r1')" value="Arată rezolvare" />
        <input type="button" onclick="hide('GM15r1')" value="Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM15r1.png" id="GM15r1" style="display:none">
    </p>
</div>