<a href='http://anisoara.rotariu.me/home'>Acasă</a>
<h1>Soft Educațional pentru Performanță Școlară - Teste Admitere</h1>

<!--<form action="/rezultatBAC" method="POST">-->
    <div>
        <img src="anisoara\testeADM\ADM1.png">
        <br>
        <p>1.
            <label class="container">a
                <input type="radio" name="1" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="1" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="1" value="3">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="1" value="4">
                <span class="checkmark"></span>
            </label>
        </p>
        <p>2.
            <label class="container">a
                <input type="radio" name="2" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="2" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="2" value="3">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="2" value="4">
                <span class="checkmark"></span>
            </label>
        </p>
        </br>
        <input type="button" onclick="tend('ADM1r1')" value="Arată rezolvare">
        <input type="button" onclick="tn('ADM1r1')" value="Ascunde rezolvare">
        <img src="anisoara\testeADM\ADM1r1.png" id="ADM1r1" style="display:none">
        <script type="text/javascript">
            function tend(id) {
                document.getElementById(id).style.display='inline';
            }
            function tn(id) {
                document.getElementById(id).style.display='none';
            }
        </script>
        <br>
    </div>
    <input type="submit" value="Submit">
<!--</form>-->