<a href='http://anisoara.rotariu.me/home'>Acasă</a>
<h1>Soft Educațional pentru Performanță Școlară - Teste Admitere</h1>

<script type="text/javascript">
    function tend(id) {
        document.getElementById(id).style.display='inline';
    }
    function tn(id) {
        document.getElementById(id).style.display='none';
    }
</script>

<!--<form action="/rezultatBAC" method="POST">-->
    <div>
        <img src="anisoara\testeADM\ADM1.png">
        </br>
        <p>1.
            <label class="container">a
                <input type="radio" name="1" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="1" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="1" value="3">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="1" value="4">
                <span class="checkmark"></span>
            </label>
        </p>
        <p>2.
            <label class="container">a
                <input type="radio" name="2" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="2" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="2" value="3">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="2" value="4">
                <span class="checkmark"></span>
            </label>
        </p>
        </br>
        <input type="button" onclick="tend('ADM1r1')" value="Arată rezolvare"/>
        <input type="button" onclick="tn('ADM1r1')" value="Ascunde rezolvare"/>
        <img src="anisoara\testeADM\ADM1r1.png" id="ADM1r1" style="display:none">
        </br>
    </div>
    <div>
        <img src="anisoara\testeADM\ADM2.png">
        </br>
        <p>1.
            <label class="container">a
                <input type="radio" name="3" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="3" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="3" value="3">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="3" value="4">
                <span class="checkmark"></span>
            </label>
        </p>
        <p>2.
            <label class="container">a
                <input type="radio" name="4" value="1">
                <span class="checkmark"></span>
            </label>
            <label class="container">b
                <input type="radio" name="4" value="2">
                <span class="checkmark"></span>
            </label>
            <label class="container">c
                <input type="radio" name="4" value="3">
                <span class="checkmark"></span>
            </label>
            <label class="container">d
                <input type="radio" name="4" value="4">
                <span class="checkmark"></span>
            </label>
        </p>
        </br>
        <input type="button" onclick="tend('ADM2r1')" value="Arată rezolvare"/>
        <input type="button" onclick="tn('ADM2r1')" value="Ascunde rezolvare"/>
        <img src="anisoara\testeADM\ADM2r1.png" id="ADM2r1" style="display:none">
        </br>
    </div>
    <div>
        <img src="anisoara\testeADM\ADM3.png">
        </br>
        <label class="container">a
            <input type="radio" name="5" value="1">
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="5" value="2">
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="5" value="3">
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="5" value="4">
            <span class="checkmark"></span>
        </label>
        </br>
        <input type="button" onclick="tend('ADM3r1')" value="Arată rezolvare"/>
        <input type="button" onclick="tn('ADM3r1')" value="Ascunde rezolvare"/>
        <img src="anisoara\testeADM\ADM3r1.png" id="ADM3r1" style="display:none">
        </br>
    </div>
    <div>
        <img src="anisoara\testeADM\ADM4.png">
        </br>
        <label class="container">a
            <input type="radio" name="6" value="1">
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="6" value="2">
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="6" value="3">
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="6" value="4">
            <span class="checkmark"></span>
        </label>
        </br>
        <input type="button" onclick="tend('ADM4r1')" value="Arată rezolvare"/>
        <input type="button" onclick="tn('ADM4r1')" value="Ascunde rezolvare"/>
        <img src="anisoara\testeADM\ADM4r1.png" id="ADM4r1" style="display:none">
        </br>
    </div>
    <div>
        <img src="anisoara\testeADM\ADM5.png">
        </br>
        <label class="container">a
            <input type="radio" name="7" value="1">
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="7" value="2">
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="7" value="3">
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="7" value="4">
            <span class="checkmark"></span>
        </label>
        </br>
        <input type="button" onclick="tend('ADM5r1')" value="Arată rezolvare"/>
        <input type="button" onclick="tn('ADM5r1')" value="Ascunde rezolvare"/>
        <img src="anisoara\testeADM\ADM5r1.png" id="ADM5r1" style="display:none">
        </br>
    </div>
    <div>
        <img src="anisoara\testeADM\ADM6.png">
        </br>
        <label class="container">a
            <input type="radio" name="8" value="1">
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="8" value="2">
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="8" value="3">
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="8" value="4">
            <span class="checkmark"></span>
        </label>
        </br>
        <input type="button" onclick="tend('ADM6r1')" value="Arată rezolvare"/>
        <input type="button" onclick="tn('ADM6r1')" value="Ascunde rezolvare"/>
        <img src="anisoara\testeADM\ADM6r1.png" id="ADM6r1" style="display:none">
        </br>
    </div>
    <div>
        <img src="anisoara\testeADM\ADM7.png">
        </br>
        <label class="container">a
            <input type="radio" name="9" value="1">
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="9" value="2">
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="9" value="3">
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="9" value="4">
            <span class="checkmark"></span>
        </label>
        </br>
        <input type="button" onclick="tend('ADM7r1')" value="Arată rezolvare"/>
        <input type="button" onclick="tn('ADM7r1')" value="Ascunde rezolvare"/>
        <img src="anisoara\testeADM\ADM7r1.png" id="ADM7r1" style="display:none">
        </br>
    </div>
    <div>
        <img src="anisoara\testeADM\ADM8.png">
        </br>
        <label class="container">a
            <input type="radio" name="10" value="1">
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="10" value="2">
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="10" value="3">
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="10" value="4">
            <span class="checkmark"></span>
        </label>
        </br>
        <input type="button" onclick="tend('ADM8r1')" value="Arată rezolvare"/>
        <input type="button" onclick="tn('ADM8r1')" value="Ascunde rezolvare"/>
        <img src="anisoara\testeADM\ADM8r1.png" id="ADM8r1" style="display:none">
        </br>
    </div>
    <div>
        <img src="anisoara\testeADM\ADM9.png">
        </br>
        <label class="container">a
            <input type="radio" name="11" value="1">
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="11" value="2">
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="11" value="3">
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="11" value="4">
            <span class="checkmark"></span>
        </label>
        </br>
        <input type="button" onclick="tend('ADM9r1')" value="Arată rezolvare"/>
        <input type="button" onclick="tn('ADM9r1')" value="Ascunde rezolvare"/>
        <img src="anisoara\testeADM\ADM9r1.png" id="ADM9r1" style="display:none">
        </br>
    </div>
    <div>
        <img src="anisoara\testeADM\ADM10.png">
        </br>
        <label class="container">a
            <input type="radio" name="12" value="1">
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="12" value="2">
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="12" value="3">
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="12" value="4">
            <span class="checkmark"></span>
        </label>
        </br>
        <input type="button" onclick="tend('ADM10r1')" value="Arată rezolvare"/>
        <input type="button" onclick="tn('ADM10r1')" value="Ascunde rezolvare"/>
        <img src="anisoara\testeADM\ADM10r1.png" id="ADM10r1" style="display:none">
        </br>
    </div>
    <div>
        <img src="anisoara\testeADM\ADM11.png">
        </br>
        <label class="container">a
            <input type="radio" name="13" value="1">
            <span class="checkmark"></span>
        </label>
        <label class="container">b
            <input type="radio" name="13" value="2">
            <span class="checkmark"></span>
        </label>
        <label class="container">c
            <input type="radio" name="13" value="3">
            <span class="checkmark"></span>
        </label>
        <label class="container">d
            <input type="radio" name="13" value="4">
            <span class="checkmark"></span>
        </label>
        </br>
        <input type="button" onclick="tend('ADM11r1')" value="Arată rezolvare"/>
        <input type="button" onclick="tn('ADM11r1')" value="Ascunde rezolvare"/>
        <img src="anisoara\testeADM\ADM11r1.png" id="ADM11r1" style="display:none">
        </br>
    </div>
    <input type="submit" value="Submit">
<!--</form>-->