<h1>Softuri Educaționale - Materiale didactice - Teste și rezolvări</h1>
</br>
<p>Soft Educațional 1 <input type="button" onclick="location.href='http://anisoara.rotariu.me/testeBAC';" value="Teste Bacalaureat" /></p>
<p>Soft Educațional 2 <input type="button" onclick="location.href='http://anisoara.rotariu.me/testeGM';" value="Teste Gazeta Matematică" /></p>
<p>Soft Educațional 3 <input type="button" onclick="location.href='http://anisoara.rotariu.me/testeADM';" value="Teste Admitere" /></p>
<p>Soft Educațional 4 <input type="button" onclick="location.href='http://anisoara.rotariu.me/testeCriteriiSiruri';" value="Teste Criterii Șiruri" /></p>
<p>Soft Educațional 5 <input type="button" onclick="location.href='http://anisoara.rotariu.me/testeLimiteSiruri';" value="Teste Limite Șiruri" /></p>
<p>Soft Educațional 6 <input type="button" onclick="location.href='http://anisoara.rotariu.me/testeLimiteParametri';" value="Teste Limite Parametri" /></p>
<p>Soft Educațional 7 <input type="button" onclick="location.href='http://anisoara.rotariu.me/testePerformanta';" value="Teste Performanță" /></p>
<p>Soft Educațional 8 <input type="button" onclick="location.href='http://anisoara.rotariu.me/testeMonotonie';" value="Teste Monotonie Șiruri" /></p>
<p>Soft Educațional 9 <input type="button" onclick="location.href='http://anisoara.rotariu.me/testeMarginire';" value="Teste Mărginire Șiruri" /></p>