<div>
    <a href='http://anisoara.rotariu.me/home'>Acasă</a>
    <a href='http://anisoara.rotariu.me/testeBAC'>Teste Bacalaureat</a>
    <a href='http://anisoara.rotariu.me/testeGM'>Teste Gazeta Matematică</a>
    <a href='http://anisoara.rotariu.me/testeADM'>Teste Admitere</a>
    <a href='http://anisoara.rotariu.me/testeCriteriiSiruri'>Teste Criterii Șiruri</a>
    <a href='http://anisoara.rotariu.me/testeLimiteSiruri'>Teste Limite Șiruri</a>
    <a href='http://anisoara.rotariu.me/testeLimiteParametri'>Teste Limite Parametri</a>
    <a href='http://anisoara.rotariu.me/testePerformanta'>Teste Performanță</a>
    <a href='http://anisoara.rotariu.me/testeMonotonie'>Teste Monotonie Șiruri</a>
    <a href='http://anisoara.rotariu.me/testeMarginire'>Teste Mărginire Șiruri</a>
</div>
<h1>Soft Educațional pentru Performanță Școlară - Teste Mărginire Șiruri</h1>

<div>
    <img src="anisoara\testeMar\Mar1.png">
    </br>
    <p>
        <input type="button" onclick="showHide('Mar1r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r1.png" id="Mar1r1" style="display:none">
    </p>
    <img src="anisoara\testeMar\Mar2.png">
    </br>
    <p>
        Punctul a:
        <input type="button" onclick="showHide('Mar2r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar2r1.png" id="Mar2r1" style="display:none">
    </p>
    </br>
    <p>
        Punctul b:
        <input type="button" onclick="showHide('Mar2r2')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar2r2.png" id="Mar2r2" style="display:none">
    </p>
</div>