<div>
    <a href='http://anisoara.rotariu.me/home'>Acasă</a>
    <a href='http://anisoara.rotariu.me/testeBAC'>Teste Bacalaureat</a>
    <a href='http://anisoara.rotariu.me/testeGM'>Teste Gazeta Matematică</a>
    <a href='http://anisoara.rotariu.me/testeADM'>Teste Admitere</a>
    <a href='http://anisoara.rotariu.me/testeCriteriiSiruri'>Teste Criterii Șiruri</a>
    <a href='http://anisoara.rotariu.me/testeLimiteSiruri'>Teste Limite Șiruri</a>
    <a href='http://anisoara.rotariu.me/testeLimiteParametri'>Teste Limite Parametri</a>
    <a href='http://anisoara.rotariu.me/testePerformanta'>Teste Performanță</a>
    <a href='http://anisoara.rotariu.me/testeMonotonie'>Teste Monotonie Șiruri</a>
    <a href='http://anisoara.rotariu.me/testeMarginire'>Teste Mărginire Șiruri</a>
</div>
<h1>Soft Educațional pentru Performanță Școlară - Teste Mărginire Șiruri</h1>

<div>
    <img src="anisoara\testeMar\Mar1.png">
    </br>
    <p>
        Punctul a:
        <input type="button" onclick="showHide('Mar1r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r1.png" id="Mar1r1" style="display:none">
    </p>
    <p>
        Punctul b:
        <input type="button" onclick="showHide('Mar1r2')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r2.png" id="Mar1r2" style="display:none">
    </p>
    <p>
        Punctul c:
        <input type="button" onclick="showHide('Mar1r3')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r3.png" id="Mar1r3" style="display:none">
    </p>
    <p>
        Punctul d:
        <input type="button" onclick="showHide('Mar1r4')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r4.png" id="Mar1r4" style="display:none">
    </p>
    <p>
        Punctul e:
        <input type="button" onclick="showHide('Mar1r5')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r5.png" id="Mar1r5" style="display:none">
    </p>
    <p>
        Punctul f:
        <input type="button" onclick="showHide('Mar1r6')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r6.png" id="Mar1r6" style="display:none">
    </p>
    <p>
        Punctul g:
        <input type="button" onclick="showHide('Mar1r7')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r7.png" id="Mar1r7" style="display:none">
    </p>
    <p>
        Punctul h:
        <input type="button" onclick="showHide('Mar1r8')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r8.png" id="Mar1r8" style="display:none">
    </p>
    <p>
        Punctul i:
        <input type="button" onclick="showHide('Mar1r9')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r9.png" id="Mar1r9" style="display:none">
    </p>
    <p>
        Punctul j:
        <input type="button" onclick="showHide('Mar1r10')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r10.png" id="Mar1r10" style="display:none">
    </p>
    <p>
        Punctul k:
        <input type="button" onclick="showHide('Mar1r11')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r11.png" id="Mar1r11" style="display:none">
    </p>
    <p>
        Punctul l:
        <input type="button" onclick="showHide('Mar1r12')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r12.png" id="Mar1r12" style="display:none">
    </p>
    <p>
        Punctul m:
        <input type="button" onclick="showHide('Mar1r13')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r13.png" id="Mar1r13" style="display:none">
    </p>
    <p>
        Punctul n:
        <input type="button" onclick="showHide('Mar1r14')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r14.png" id="Mar1r14" style="display:none">
    </p>
    <p>
        Punctul o:
        <input type="button" onclick="showHide('Mar1r15')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r15.png" id="Mar1r15" style="display:none">
    </p>
    <p>
        Punctul p:
        <input type="button" onclick="showHide('Mar1r16')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r16.png" id="Mar1r16" style="display:none">
    </p>
    <p>
        Punctul q:
        <input type="button" onclick="showHide('Mar1r17')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r17.png" id="Mar1r17" style="display:none">
    </p>
    <p>
        Punctul r:
        <input type="button" onclick="showHide('Mar1r18')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r18.png" id="Mar1r18" style="display:none">
    </p>
    <p>
        Punctul s:
        <input type="button" onclick="showHide('Mar1r19')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r19.png" id="Mar1r19" style="display:none">
    </p>
    <p>
        Punctul t:
        <input type="button" onclick="showHide('Mar1r20')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r20.png" id="Mar1r20" style="display:none">
    </p>
    <p>
        Punctul u:
        <input type="button" onclick="showHide('Mar1r21')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r21.png" id="Mar1r21" style="display:none">
    </p>
    <p>
        Punctul v:
        <input type="button" onclick="showHide('Mar1r22')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r22.png" id="Mar1r22" style="display:none">
    </p>
    <p>
        Punctul w:
        <input type="button" onclick="showHide('Mar1r23')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r23.png" id="Mar1r23" style="display:none">
    </p>
    <p>
        Punctul x:
        <input type="button" onclick="showHide('Mar1r24')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r24.png" id="Mar1r24" style="display:none">
    </p>
    <p>
        Punctul y:
        <input type="button" onclick="showHide('Mar1r25')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar1r25.png" id="Mar1r25" style="display:none">
    </p>
    <img src="anisoara\testeMar\Mar2.png">
    </br>
    <p>
        Punctul a:
        <input type="button" onclick="showHide('Mar2r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar2r1.png" id="Mar2r1" style="display:none">
    </p>
    <p>
        Punctul b:
        <input type="button" onclick="showHide('Mar2r2')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar2r2.png" id="Mar2r2" style="display:none">
    </p>
    <p>
        Punctul c:
        <input type="button" onclick="showHide('Mar2r3')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar2r3.png" id="Mar2r3" style="display:none">
    </p>
    <p>
        Punctul d:
        <input type="button" onclick="showHide('Mar2r4')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar2r4.png" id="Mar2r4" style="display:none">
    </p>
    <p>
        Punctul e:
        <input type="button" onclick="showHide('Mar2r5')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar2r5.png" id="Mar2r5" style="display:none">
    </p>
    <p>
        Punctul f:
        <input type="button" onclick="showHide('Mar2r6')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar2r6.png" id="Mar2r6" style="display:none">
    </p>
    <p>
        Punctul g:
        <input type="button" onclick="showHide('Mar2r7')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMar\Mar2r7.png" id="Mar2r7" style="display:none">
    </p>
</div>