<div>
    <a href='http://anisoara.rotariu.me/home'>Acasă</a>
    <a href='http://anisoara.rotariu.me/testeBAC'>Teste Bacalaureat</a>
    <a href='http://anisoara.rotariu.me/testeGM'>Teste Gazeta Matematică</a>
    <a href='http://anisoara.rotariu.me/testeADM'>Teste Admitere</a>
    <a href='http://anisoara.rotariu.me/testeCriteriiSiruri'>Teste Criterii Șiruri</a>
    <a href='http://anisoara.rotariu.me/testeLimiteSiruri'>Teste Limite Șiruri</a>
    <a href='http://anisoara.rotariu.me/testeLimiteParametri'>Teste Limite Parametri</a>
    <a href='http://anisoara.rotariu.me/testePerformanta'>Teste Performanță</a>
    <a href='http://anisoara.rotariu.me/testeMonotonie'>Teste Monotonie Șiruri</a>
    <a href='http://anisoara.rotariu.me/testeMarginire'>Teste Mărginire Șiruri</a>
</div>
<h1>Soft Educațional pentru Performanță Școlară - Teste Monotonie Șiruri</h1>

<div>
    <img src="anisoara\testeMon\Mon1.png">
    </br>
    <img src="anisoara\testeMon\Mon2.png">
    </br>
    <img src="anisoara\testeMon\Mon3.png">
    </br>
    <p>
        Punctul a:
        <input type="button" onclick="showHide('Mon3r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon3r1.png" id="Mon3r1" style="display:none">
    </p>
    <p>
        Punctul b:
        <input type="button" onclick="showHide('Mon3r2')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon3r2.png" id="Mon3r2" style="display:none">
    </p>
    <p>
        Punctul c:
        <input type="button" onclick="showHide('Mon3r3')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon3r3.png" id="Mon3r3" style="display:none">
    </p>
    <p>
        Punctul d:
        <input type="button" onclick="showHide('Mon3r4')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon3r4.png" id="Mon3r4" style="display:none">
    </p>
    <p>
        Punctul e:
        <input type="button" onclick="showHide('Mon3r5')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon3r5.png" id="Mon3r5" style="display:none">
    </p>
    <p>
        Punctul f:
        <input type="button" onclick="showHide('Mon3r6')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon3r6.png" id="Mon3r6" style="display:none">
    </p>
    <p>
        Punctul g:
        <input type="button" onclick="showHide('Mon3r7')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon3r7.png" id="Mon3r7" style="display:none">
    </p>
    <img src="anisoara\testeMon\Mon4.png">
    </br>
    <p>
        Punctul a:
        <input type="button" onclick="showHide('Mon4r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon4r1.png" id="Mon4r1" style="display:none">
    </p>
    <p>
        Punctul b:
        <input type="button" onclick="showHide('Mon4r2')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon4r2.png" id="Mon4r2" style="display:none">
    </p>
    <p>
        Punctul c:
        <input type="button" onclick="showHide('Mon4r3')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon4r3.png" id="Mon4r3" style="display:none">
    </p>
    <p>
        Punctul d:
        <input type="button" onclick="showHide('Mon4r4')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon4r4.png" id="Mon4r4" style="display:none">
    </p>
    <p>
        Punctul e:
        <input type="button" onclick="showHide('Mon4r5')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon4r5.png" id="Mon4r5" style="display:none">
    </p>
    <p>
        Punctul f:
        <input type="button" onclick="showHide('Mon4r6')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon4r6.png" id="Mon4r6" style="display:none">
    </p>
    <p>
        Punctul g:
        <input type="button" onclick="showHide('Mon4r7')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon4r7.png" id="Mon4r7" style="display:none">
    </p>
    <p>
        Punctul h:
        <input type="button" onclick="showHide('Mon4r8')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon4r8.png" id="Mon4r8" style="display:none">
    </p>
    <p>
        Punctul i:
        <input type="button" onclick="showHide('Mon4r9')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon4r9.png" id="Mon4r9" style="display:none">
    </p>
    <p>
        Punctul j:
        <input type="button" onclick="showHide('Mon4r10')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon4r10.png" id="Mon4r10" style="display:none">
    </p>
    <p>
        Punctul k:
        <input type="button" onclick="showHide('Mon4r11')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon4r11.png" id="Mon4r11" style="display:none">
    </p>
    <img src="anisoara\testeMon\Mon5.png">
    </br>
    <p>
        Punctul a:
        <input type="button" onclick="showHide('Mon5r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon5r1.png" id="Mon5r1" style="display:none">
    </p>
    <p>
        Punctul b:
        <input type="button" onclick="showHide('Mon5r2')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon5r2.png" id="Mon5r2" style="display:none">
    </p>
    <p>
        Punctul c:
        <input type="button" onclick="showHide('Mon5r3')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon5r3.png" id="Mon5r3" style="display:none">
    </p>
    <p>
        Punctul d:
        <input type="button" onclick="showHide('Mon5r4')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon5r4.png" id="Mon5r4" style="display:none">
    </p>
    <p>
        Punctul e:
        <input type="button" onclick="showHide('Mon5r5')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon5r5.png" id="Mon5r5" style="display:none">
    </p>
    <p>
        Punctul f:
        <input type="button" onclick="showHide('Mon5r6')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeMon\Mon5r6.png" id="Mon5r6" style="display:none">
    </p>
</div>