<div>
    <a href='http://anisoara.rotariu.me/home'>Acasă</a>
    <a href='http://anisoara.rotariu.me/testeBAC'>Teste Bacalaureat</a>
    <a href='http://anisoara.rotariu.me/testeGM'>Teste Gazeta Matematică</a>
    <a href='http://anisoara.rotariu.me/testeADM'>Teste Admitere</a>
    <a href='http://anisoara.rotariu.me/testeCriteriiSiruri'>Teste Criterii Șiruri</a>
    <a href='http://anisoara.rotariu.me/testeLimiteSiruri'>Teste Limite Șiruri</a>
    <a href='http://anisoara.rotariu.me/testeLimiteParametri'>Teste Limite Parametri</a>
    <a href='http://anisoara.rotariu.me/testePerformanta'>Teste Performanță</a>
    <a href='http://anisoara.rotariu.me/testeMonotonie'>Teste Monotonie Șiruri</a>
    <a href='http://anisoara.rotariu.me/testeMarginire'>Teste Mărginire Șiruri</a>
</div>
<h1>Soft Educațional pentru Performanță Școlară - Teste Gazeta Matematică</h1>

<div>
    <img src="anisoara\testeGM\GM1.png">
    </br>
    <p>
        <input type="button" onclick="showHide('GM1r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM1r1.png" id="GM1r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM2.png">
    </br>
    <p>
        <input type="button" onclick="showHide('GM2r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM2r1.png" id="GM2r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM3.png">
    </br>
    <p>
        <input type="button" onclick="showHide('GM3r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM3r1.png" id="GM3r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM4.png">
    </br>
    <p>
        <input type="button" onclick="showHide('GM4r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM4r1.png" id="GM4r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM5.png">
    </br>
    <p>
        <input type="button" onclick="showHide('GM5r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM5r1.png" id="GM5r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM6.png">
    </br>
    <p>
        <input type="button" onclick="showHide('GM6r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM6r1.png" id="GM6r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM7.png">
    </br>
    <p>
        <input type="button" onclick="showHide('GM7r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM7r1.png" id="GM7r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM8.png">
    </br>
    <p>
        <input type="button" onclick="showHide('GM8r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM8r1.png" id="GM8r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM9.png">
    </br>
    <p>
        <input type="button" onclick="showHide('GM9r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM9r1.png" id="GM9r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM10.png">
    </br>
    <p>
        <input type="button" onclick="showHide('GM10r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM10r1.png" id="GM10r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM11.png">
    </br>
    <p>
        <input type="button" onclick="showHide('GM11r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM11r1.png" id="GM11r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM12.png">
    </br>
    <p>
        <input type="button" onclick="showHide('GM12r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM12r1.png" id="GM12r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM13.png">
    </br>
    <p>
        <input type="button" onclick="showHide('GM13r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM13r1.png" id="GM13r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM14.png">
    </br>
    <p>
        <input type="button" onclick="showHide('GM14r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM14r1.png" id="GM14r1" style="display:none">
    </p>
    <img src="anisoara\testeGM\GM15.png">
    </br>
    <p>
        <input type="button" onclick="showHide('GM15r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testeGM\GM15r1.png" id="GM15r1" style="display:none">
    </p>
</div>