<div>
    <a href='http://anisoara.rotariu.me/home'>Acasă</a>
    <a href='http://anisoara.rotariu.me/testeBAC'>Teste Bacalaureat</a>
    <a href='http://anisoara.rotariu.me/testeGM'>Teste Gazeta Matematică</a>
    <a href='http://anisoara.rotariu.me/testeADM'>Teste Admitere</a>
    <a href='http://anisoara.rotariu.me/testeCriteriiSiruri'>Teste Criterii Șiruri</a>
    <a href='http://anisoara.rotariu.me/testeLimiteSiruri'>Teste Limite Șiruri</a>
    <a href='http://anisoara.rotariu.me/testeLimiteParametri'>Teste Limite Parametri</a>
    <a href='http://anisoara.rotariu.me/testePerformanta'>Teste Performanță</a>
    <a href='http://anisoara.rotariu.me/testeMonotonie'>Teste Monotonie Șiruri</a>
    <a href='http://anisoara.rotariu.me/testeMarginire'>Teste Mărginire Șiruri</a>
</div>
<h1>Soft Educațional pentru Performanță Școlară - Teste Performanță</h1>

<div>
    <img src="anisoara\testePerf\Perf1.png">
    </br>
    <p>
        <input type="button" onclick="showHide('Perf1r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testePerf\Perf1r1.png" id="Perf1r1" style="display:none">
    </p>
    <img src="anisoara\testePerf\Perf2.png">
    </br>
    <p>
        <input type="button" onclick="showHide('Perf2r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testePerf\Perf2r1.png" id="Perf2r1" style="display:none">
    </p>
    <img src="anisoara\testePerf\Perf3.png">
    </br>
    <p>
        <input type="button" onclick="showHide('Perf3r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testePerf\Perf3r1.png" id="Perf3r1" style="display:none">
    </p>
    <img src="anisoara\testePerf\Perf4.png">
    </br>
    <p>
        <input type="button" onclick="showHide('Perf4r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testePerf\Perf4r1.png" id="Perf4r1" style="display:none">
    </p>
    <img src="anisoara\testePerf\Perf5.png">
    </br>
    <p>
        <input type="button" onclick="showHide('Perf5r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testePerf\Perf5r1.png" id="Perf5r1" style="display:none">
    </p>
    <img src="anisoara\testePerf\Perf6.png">
    </br>
    <p>
        <input type="button" onclick="showHide('Perf6r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testePerf\Perf6r1.png" id="Perf6r1" style="display:none">
    </p>
    <img src="anisoara\testePerf\Perf7.png">
    </br>
    <p>
        <input type="button" onclick="showHide('Perf7r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testePerf\Perf7r1.png" id="Perf7r1" style="display:none">
    </p>
    <img src="anisoara\testePerf\Perf8.png">
    </br>
    <p>
        <input type="button" onclick="showHide('Perf8r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testePerf\Perf8r1.png" id="Perf8r1" style="display:none">
    </p>
    <img src="anisoara\testePerf\Perf9.png">
    </br>
    <p>
        <input type="button" onclick="showHide('Perf9r1')" value="Arată/Ascunde rezolvare" />
        </br>
        <img src="anisoara\testePerf\Perf9r1.png" id="Perf9r1" style="display:none">
    </p>
</div>