<div>
    <a href='http://radu.rotariu.me/home'>Home</a>
    <a href='http://radu.rotariu.me/apps'>Apps</a>
    <a href='http://radu.rotariu.me/books'>Books</a>
    <a href='http://radu.rotariu.me/cpp'>C++</a>
    <a href='http://radu.rotariu.me/cv'>Curriculum vitae</a>
    <a href='http://radu.rotariu.me/games'>Games</a>
    <a href='http://radu.rotariu.me/iqtests'>IQ Tests</a>
    <a href='http://radu.rotariu.me/origami3d'>Origami 3D</a>
</div>
<div>
    <h1>Books I've Read since January 2021</h1>
        <table>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author(s)</th>
                <th>Language</th>
                <th>Pages</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>1</td>
                <td>12 Rules for Life</td>
                <td>Jordan B. Peterson</td>
                <td>English</td>
                <td>448</td>
                <td><a href='https://www.amazon.com/12-Rules-Life-Antidote-Chaos/dp/0345816021'>Buy it here</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Apărarea are cuvântul</td>
                <td>Petre Bellu</td>
                <td>Romanian</td>
                <td>205</td>
                <td><a href='https://www.okazii.ro/apararea-are-cuvantul-petre-bellu-a201737546'>Buy it here</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Drum fără întoarcere</td>
                <td>Tudor Popescu</td>
                <td>Romanian</td>
                <td>269</td>
                <td><a href='https://www.targulcartii.ro/tudor-popescu/drum-fara-intoarcere-tineretului-1963-413389'>Buy it here</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Dachau</td>
                <td>Paul Berben</td>
                <td>Romanian</td>
                <td>370</td>
                <td><a href='https://www.okazii.ro/paul-berben-istoria-lagarului-de-concentrare-de-la-dachau-1933-1945-a208183806?icid=CS7.P.VZ.04.15&ibid=pp_expirat[208183806]'>Buy it here</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Jocul cu moartea</td>
                <td>Zaharia Stancu</td>
                <td>Romanian</td>
                <td>302</td>
                <td><a href='https://www.targulcartii.ro/zaharia-stancu/jocul-cu-moartea?an=1968&editura=Pentru+Literatura&coperta=Brosata+(paperback)&pid=264908'>Buy it here</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td>Ecuația care n-a putut fi rezolvată</td>
                <td>Mario Livio</td>
                <td>Romanian</td>
                <td>392</td>
                <td><a href='https://humanitas.ro/humanitas/carte/ecuatia-care-n-a-putut-fi-rezolvata'>Buy it here</a></td>
            </tr>
            <tr>
                <td>7</td>
                <td>The Bachman Books</td>
                <td>Stephen King</td>
                <td>English</td>
                <td>992</td>
                <td><a href='https://www.amazon.com/Bachman-Books-Stephen-King/dp/1444723537/ref=sr_1_1?dchild=1&keywords=the+bachman+books&qid=1617037143&s=books&sr=1-1'>Buy it here</a></td>
            </tr>
        </table>
    <h1>Books I've Written</h1>
        <p>Nothing here yet. Check in later!</p>
</div>>