<div>
    <a href='http://radu.rotariu.me/home'>Home</a>
    <a href='http://radu.rotariu.me/apps'>Apps</a>
    <a href='http://radu.rotariu.me/books'>Books</a>
    <a href='http://radu.rotariu.me/cpp'>C++</a>
    <a href='http://radu.rotariu.me/cv'>Curriculum vitae</a>
    <a href='http://radu.rotariu.me/games'>Games</a>
    <a href='http://radu.rotariu.me/iqtests'>IQ Tests</a>
</div>
<div>
    <h1>C++ Projects</h1>
    <p>C++ projects as tutorials and examples of usage of C++ language features and coding techniques.</p>
    </br>
    <h2>Exercises from "Fundamentals of C++ Programming", Richard L. Halterman, 2017</h2>
    <p><a href='https://github.com/mikewheelmaker/haltemanbookexercises'>GitHub repository</a></p>
    <p><a href=''>Buy the book</a></p>
    </br>
    <h2>SOLID principles examples</h2>
    <a href='https://github.com/mikewheelmaker/solidprinciples'>GitHub repository</a>
    </br>
    <h2>Design Patterns examples</h2>
    <a href='https://github.com/mikewheelmaker/designpatterns'>GitHub repository</a>
    </br>
    <h2>Two Semaphores Example Project</h2>
    <a href='https://github.com/mikewheelmaker/twosemaphoresexample'>GitHub repository</a>
    </br>
    <h2>Phone Agenda</h2>
    <a href='https://github.com/mikewheelmaker/phoneagendaapp'>GitHub repository</a>
    </br>
    <h2>Photo Gallery</h2>
    <a href='https://github.com/mikewheelmaker/photogalleryapp'>GitHub repository</a>
    </br>
    <h2>EZGraphs</h2>
    <a href=''>GitHub repository</a>
    </br>
</div>