<div>
    <a href='http://radu.rotariu.me/home'>Home</a>
    <a href='http://radu.rotariu.me/apps'>Apps</a>
    <a href='http://radu.rotariu.me/books'>Books</a>
    <a href='http://radu.rotariu.me/cpp'>C++</a>
    <a href='http://radu.rotariu.me/cv'>Curriculum vitae</a>
    <a href='http://radu.rotariu.me/games'>Games</a>
    <a href='http://radu.rotariu.me/iqtests'>IQ Tests</a>
    <a href='http://radu.rotariu.me/origami3d'>Origami 3D</a>
</div>
<div>
    <h1>Curriculum vitae</h1>
    <p><a download='http://radu.rotariu.me/cv_pdf'>Download C.V. in pdf format</a></p>
    <p><a download='http://radu.rotariu.me/cv_psd'>Download .psd template for C.V.</a></p>
    <!--<p><input type="button" onclick="location.href='http://radu.rotariu.me/cv_pdf';" value="Download C.V. in pdf format" /></p>
    <p><input type="button" onclick="location.href='http://radu.rotariu.me/cv_psd';" value="Download .psd template for C.V." /></p>-->
    <table style="width:100%">
        <tr>
            <td style="width:30%; vertical-align:top">
                <div style="text-align: left">
                    <h2>Radu-Mihai Rotariu</h2>
                        <p>household engineer</p>
                    <h2>Personal Information</h2>
                        <h3>Phone Number</h3>
                            <p>+40754909696</p>
                        <h3>E-Mail</h3>
                            <a href='mailto:radumihairotariu@gmail.com'>radumihairotariu@gmail.com</a>
                        <h3>LinkedIn Profile</h3>
                            <a href='https://www.linkedin.com/in/radu-mihai-rotariu-494766104/'>Radu-Mihai Rotariu</a>
                        <h3>GitHub Profile</h3>
                            <a href='https://github.com/mikewheelmaker'>Mike Wheelmaker</a>
                    <h2>IT Proficiencies</h2>
                        <h3>C++ Proficiency</h3>
                            <progress value="60" max="100"></progress>
                        <h3>ANSI C Proficiency</h3>
                            <progress value="45" max="100"></progress>
                        <h3>C# Proficiency</h3>
                            <progress value="40" max="100"></progress>
                        <h3>Java Proficiency</h3>
                            <progress value="38" max="100"></progress>
                        <h3>JavaScript Proficiency</h3>
                            <progress value="35" max="100"></progress>
                        <h3>Python Proficiency</h3>
                            <progress value="32" max="100"></progress>
                        <h3>Matlab Proficiency</h3>
                            <progress value="30" max="100"></progress>
                        <h3>Kotlin Proficiency</h3>
                            <progress value="10" max="100"></progress>
                        <h3>HTML/CSS Proficiency</h3>
                            <progress value="30" max="100"></progress>
                    <h2>General Skills</h2>
                        <h3>Problem Solving</h3>
                            <progress value="95" max="100"></progress>
                        <h3>Team Work</h3>
                            <progress value="75" max="100"></progress>
                        <h3>Creativity & Innovation</h3>
                            <progress value="85" max="100"></progress>
                    <h2>Languages</h2>
                        <table>
                            <tr>
                                <th>Language</th>
                                <th>Understanding</th>
                                <th>Speaking</th>
                                <th>Writing</th>
                                <th>Proficiency</th>
                            </tr>
                            <tr>
                                <td>Romanian</td>
                                <td>C2</td>
                                <td>C2</td>
                                <td>C2</td>
                                <td>Native</td>
                            </tr>
                            <tr>
                                <td>English</td>
                                <td>C2</td>
                                <td>C1</td>
                                <td>C1</td>
                                <td>Fluent</td>
                            </tr>
                            <tr>
                                <td>French</td>
                                <td>A2</td>
                                <td>A1</td>
                                <td>B1</td>
                                <td>Elementary</td>
                            </tr>
                            <tr>
                                <td>Italian</td>
                                <td>B2</td>
                                <td>B1</td>
                                <td>B1</td>
                                <td>Limited</td>
                            </tr>
                            <tr>
                                <td>German</td>
                                <td>A1</td>
                                <td>A1</td>
                                <td>A1</td>
                                <td>Elementary</td>
                            </tr>
                        </table>
                    <h2>Hobbies</h2>
                        <p>Fitness | Reading | Playing Guitar | Mathematics | Medicine | Engineering | Technology | Electric Cars</p>
                </div>
            </td>
            <td style="width:70%; vertical-align:top">
                <div style="text-align: left">
                    <h2>Projects</h2>
                    <ul>
                        <li>Simple 8-bit Register using XMC4800 and ANSI C (Feb 2021). <a href='https://www.hackster.io/radu-mihai-rotariu/8-bit-led-counter-xmc4800-1cf339'>Hackster Page</a></li>
                        <li>Ultrasonic Measuring Tape using RPi4B and Python (Sept 2020). <a href='https://www.hackster.io/radu-mihai-rotariu/raspberry-pi-4b-ultrasonic-distance-measurements-display-065f5d'>Hackster Page</a></li>
                        <li>Space Shooter Game using Java (May 2019). <a href='https://github.com/mikewheelmaker/spaceshooter'>GitHub Repository</a></li>
                        <li>Cookie Catcher Game using C++ and SDL2 (Jan 2019). <a href='https://github.com/mikewheelmaker/cookiecatcher'>GitHub Repository</a></li>
                    </ul>
                    <h2>Work Experience</h2>
                    <ul>
                        <li>
                            <h3>January 2021 - March 2021 | Fortech - Junior Software Developer</h3>
                            <ul>
                                <li>Junior C++ Developer as part of a 3-month-long internship programme.</li>
                                <li>Mainly used C++ and the Qt framework, but also learned a bit more about Linux machines, networking, multithreading, Git and Jira.</li>
                            </ul>
                        </li>
                        <li>
                            <h3>June 2015 - March 2018 | Duolingo - Course Developer and Moderator</h3>
                            <ul>
                                <li>Volunteered as a course developer and forum moderator for the course <a href='https://www.duolingo.com/enroll/ro/en/Learn-Romanian'>Romanian for English Speakers</a> and as a forum moderator for the course <a href='https://www.duolingo.com/enroll/en/ro/%C3%8Enva%C8%9B%C4%83-englez%C4%83'>English for Romanian Speakers</a>.</li>
                                <li>My Duolingo nickname is <a href='https://www.duolingo.com/profile/MikeRowen'>MikeRowen</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h2>Education</h2>
                    <ul>
                        <li>
                            <h3>October 2017 - Present | "Gheorghe Asachi" Technical University, Iasi</h3>
                            <h4><i>Faculty of Automatic Control and Computer Science</i></h4>
                            <ul>
                                <li>Admission Grade: 10.00</li>
                                <li>Bachelor's thesis: Application for visualizing function graphs. <a href='https://github.com/mikewheelmaker/ezgraphs'>GitHub repository</a></li>
                            </ul>
                        </li>
                        <li>
                            <h3>October 2013 - July 2016 | "Iuliu Hatieganu" University of Medicine and Pharmacy, Cluj-Napoca</h3>
                            <h4><i>Faculty of Medicine and Pharmacy, General Medicine</i></h4>
                            <ul>
                                <li>Admission Grade: 8.76</li>
                                <li>Maintained my position in the top 100 students for three years.</li>
                            </ul>
                        </li>
                        <li>
                            <h3>September 2009 - June 2013 | "Regina Maria" Highschool, Dorohoi</h3>
                            <h4><i>Natural Sciences Class</i></h4>
                            <ul>
                                <li>Bacalaureat Grade: 10.00</li>
                                <li>Participated in a lot of competitions and contests on different subjects (mathematics, physics, chemistry, biology, geography).
                                    <ul>
                                        <li>"Evaluare in Educatie la Matematica" National Contest - 1st stage - 2nd place (2009)</li>
                                        <li>"Evaluare in Educatie la Matematica" National Contest - 2nd stage - 1st place (2010)</li>
                                        <li>"Evaluare in Educatie la Matematica" National Contest - 3rd stage - 1st place (2010)</li>
                                        <li>Chemistry Olympiad - county stage - 3rd place (2010)</li>
                                        <li>"Stefan Procopiu" Physics Contest - county stage - 6th place (2010)</li>
                                        <li>"Stiintele Pamantului" Interdisciplinary Contest - county stage - 11th place (2010)</li>
                                        <li>"Adolf Haimovici" Mathematics Competition - county stage - 1st place (2010)</li>
                                        <li>"Adolf Haimovici" Mathematics Competition - national stage - 3rd place (2010)</li>
                                        <li>"Magda Petrovanu" Chemistry Contest - 2nd place (2010)</li>
                                        <li>"Evaluare in Educatie la Matematica" National Contest - 1st stage - 1st place (2011)</li>
                                        <li>"Evaluare in Educatie la Matematica" National Contest - 2nd stage - 1st place (2011)</li>
                                        <li>"Evaluare in Educatie la Matematica" National Contest - 3rd stage - 5th place (2011)</li>
                                        <li>"Stefan Procopiu" Physics Contest - county stage - 8th place (2011)</li>
                                        <li>"Adolf Haimovici" Mathematics Competition - county stage - 3rd place (2011)</li>
                                        <li>"Evaluare in Educatie la Matematica" National Contest - 1st stage - 2nd place (2012)</li>
                                        <li>"Evaluare in Educatie la Matematica" National Contest - 3rd stage - 1st place (2012)</li>
                                        <li>"Adolf Haimovici" Mathematics Competition - county stage - 1st place (2012)</li>
                                        <li>"Adolf Haimovici" Mathematics Competition - national stage - 6th place (2012)</li>
                                        <li>"Spiru Haret Intercounty Mathematics Competition - 1st place (2012)</li>
                                        <li>Linguist Kangaroo - English-German Section - 3rd place (2012)</li>
                                        <li>"Euclid" National Mathematics Contest - 2nd stage - 2nd place (2012)</li>
                                        <li>"Euclid" National Mathematics Contest - 3rd stage - 1st place (2012)</li>
                                        <li>"Euclid" National Mathematics Contest - 1st stage - 1st place (2013)</li>
                                        <li>"Euclid" National Mathematics Contest - 3rd stage - 1st place (2013)</li>
                                        <li>"Adolf Haimovici" Mathematics Competition - county stage - 3rd place (2013)</li>
                                    </ul>
                                </li>
                                <li>Became proficient in English and passed the Cambridge Advanced English Exam in 2012 with a score of 78/100 and grade B.</li>
                            </ul>
                        </li>
                        <li>
                            <h3>September 2001 - June 2009 | "Mihail Kogalniceanu" School No. 8, Dorohoi</h3>
                            <ul>
                                <li>"Magda Petrovanu" Chemistry Contest - 2nd place (2009)</li>
                                <li>"Petru Poni" Chemistry Contest - county stage - 3rd place (2009)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>