<div>
    <a href='http://radu.rotariu.me/home'>Home</a>
    <a href='http://radu.rotariu.me/apps'>Apps</a>
    <a href='http://radu.rotariu.me/cpp'>C++</a>
    <a href='http://radu.rotariu.me/cv'>Curriculum vitae</a>
    <a href='http://radu.rotariu.me/games'>Games</a>
    <a href='http://radu.rotariu.me/iqtests'>IQ Tests</a>
</div>
<div>
    <h1>Curriculum vitae</h1>
    <table style="width:100%; border: 1px solid black">
        <tr>
            <td>
                <div style="text-align: left">
                    <h2>Radu-Mihai Rotariu</h2>
                    <p>Household Engineer</p>
                    <h2>Personal Information</h2>
                    <h3>Phone Number</h3>
                    <p>+40754909696</p>
                    <h3>E-Mail</h3>
                    <a href='mailto:radumihairotariu@gmail.com'>radumihairotariu@gmail.com</a>
                    <h3>LinkedIn Profile</h3>
                    <a href='https://www.linkedin.com/in/radu-mihai-rotariu-494766104/'>Radu-Mihai Rotariu</a>
                    <h3>GitHub Profile</h3>
                    <a href='https://github.com/mikewheelmaker'>Mike Wheelmaker</a>
                    <h2>Skills & Proficiencies</h2>
                    <h3>C++ Programming</h3>
                    <progress id="cppBar" value="50" max="100"></progress>
                    <h3>ANSI C Programming</h3>
                    <progress id="cppBar" value="30" max="100"></progress>
                    <h3>Python Programming</h3>
                    <progress id="cppBar" value="25" max="100"></progress>
                    <h3>C# Programming</h3>
                    <progress id="cppBar" value="20" max="100"></progress>
                    <h3>Java Programming</h3>
                    <progress id="cppBar" value="15" max="100"></progress>
                    <h3>Kotlin Programming</h3>
                    <progress id="cppBar" value="10" max="100"></progress>
                    <h3>HTML/CSS</h3>
                    <progress id="cppBar" value="30" max="100"></progress>
                    <h3>JavaScript Programming</h3>
                    <progress id="cppBar" value="25" max="100"></progress>
                    <h3>Problem Solving</h3>
                    <progress id="cppBar" value="85" max="100"></progress>
                    <h3>Team Work</h3>
                    <progress id="cppBar" value="75" max="100"></progress>
                    <h3>Creativity & Innovation</h3>
                    <progress id="cppBar" value="80" max="100"></progress>
                    <h2>Languages</h2>
                </div>
            </td>
        </tr>
    </table>
</div>