<div>
    <a href='http://radu.rotariu.me/home'>Home</a>
    <a href='http://radu.rotariu.me/apps'>Apps</a>
    <a href='http://radu.rotariu.me/games'>Games</a>
    <a href='http://radu.rotariu.me/iqtests'>IQ Tests</a>
    <a href='http://radu.rotariu.me/utilities'>Utilities</a>
</div>
<div>
    <h1>Curriculum Vitae</h1>
    <p>Nothing here yet. Check in later!</p>
</div>