<div>
    <a href='http://radu.rotariu.me/home'>Home</a>
    <a href='http://radu.rotariu.me/apps'>Teste Bacalaureat</a>
    <a href='http://radu.rotariu.me/cv'>Teste Gazeta Matematică</a>
    <a href='http://radu.rotariu.me/games'>Teste Admitere</a>
    <a href='http://radu.rotariu.me/iqtests'>Teste Criterii Șiruri</a>
    <a href='http://radu.rotariu.me/utilities'>Teste Limite Șiruri</a>
</div>