<div>
    <h1>Radu-Mihai Rotariu</h1>
    <h2>household engineer</h2>
    </br>
    <p><input type="button" onclick="location.href='http://radu.rotariu.me/apps';" value="Apps" /></p>
    <p><input type="button" onclick="location.href='http://radu.rotariu.me/books';" value="Books" /></p>
    <p><input type="button" onclick="location.href='http://radu.rotariu.me/cpp';" value="C++" /></p>
    <p><input type="button" onclick="location.href='http://radu.rotariu.me/cv';" value="Curriculum vitae" /></p>
    <p><input type="button" onclick="location.href='http://radu.rotariu.me/games';" value="Games" /></p>
    <p><input type="button" onclick="location.href='http://radu.rotariu.me/iqtests';" value="IQ Tests" /></p>
    <p><input type="button" onclick="location.href='http://radu.rotariu.me/origami3d';" value="Origami 3D" /></p>
</div>