<div>
    <a href='http://radu.rotariu.me/home'>Home</a>
    <a href='http://radu.rotariu.me/apps'>Apps</a>
    <a href='http://radu.rotariu.me/cv'>Curriculum Vitae</a>
    <a href='http://radu.rotariu.me/games'>Games</a>
    <a href='http://radu.rotariu.me/utilities'>Utilities</a>
</div>
<h1 style="text-align: center">IQ Tests</h1>
<h2>Short history and introduction to IQ testing</h2>
<p>IQ stands for Intelligence Quotient and it is a total score derived from a set of standardized tests or subtests designed to assess human intelligence.</p>
<p>Historically, IQ was a score obtained by dividing a person's mental age score, obtained through an intelligence test, by the person's chronological age, both expressed in terms of years and months. The resulting fraction was multiplied by 100 to obtain the IQ score. Modern IQ tests use a different system, one in which the median value is considered 100 and the score reflects the deviation from this value.</p>
<p>Scores from such intelligence tests are estimates of intelligence, so they do not represent an accurate measure for human intelligence. Do not let the score on such a test define the way you see yourself. Only you can truly know what you are capable of.</p>
<p>Moderation is key, as in all aspects of life. Try to not punish yourself too much for failures, but don't put yourself above everyone else. We are all humans and we need to work together as a local community, national group and species if we want to achieve more than what we currently have so far. Keep this in mind, it will help you guide your way through life, rough and unpredictable as it may seem.</p>
<p>As such, I have managed to find three such tests, which can be expensive to purchase if you want to self test. </p>
</br>
<h2>FAQ</h2>
<h3>Q: Are these tests free?</h3>
<p>A: Yes, they are totally free. I do not monetize any of this.</p>
<h3>Q: Is it legal to have these tests publicly available?</h3>
<p>A: No. I do not own any of this. If you want to sue me for putting these tests online, that is totally your choice. This is intellectual property that does not belong to me and I am in full acknowledgement about the situation. I just want to make the process of discovering one's own IQ score easier.</p>
<h3>Q: Do you track or record any of my data?</h3>
<p>A: No. Your are completely anonymous here. This website does not track your activity or results in any way. No cookies are used, no IP is tracked, no data is gathered. The simplicity of the design is reflected in the absence of tracking.</p>
<h3>Q: Can I take the tests multiple times?</h3>
<p>A: Yes. I do not recommend taking these tests multiple times. Doing the test multiple times negates the accuracy of the test, as memory is not and should not matter when doing IQ tests. So please use these tests wisely. As is everything else in your life, it's up to you to decide how and when to use these tests.</p>
<h3>Q: Are the test results valid?</h3>
<p>A: Yes and no. They reflect your intellectual capacity at a given moment in time. If you are sick or indisposed (tired, sleepy, hungry, thirsty etc.), your score wil reflect that. Only attempt the tests when you are well fed, hidrated and rested. Your body and mind are very much connected to each other and both function at their best when the other does as well. Care for your body and your body will care for your mind.</p>
<h3>Q: How much time does it take to do one test?</h3>
<p>A: The time varies from one person to another. Try to set aside one hour (or more) for any of these tests. You may finish the test in 15 minutes or in 90 minutes. It depends on which test you attempt and your IQ. Try not to look at the clock while doing the tests, as being anxious will reflect poorly on your score.</p>
<h3>Q: Is there some cheat-detection mechanism?</h3>
<p>A: No. Faking the tests and looking the answers up is besides the point. If you really want to find out what your IQ score is, use the tests responsibly.</p>
</br>
<p>Thanks for sticking with me so far. If you want to do a certain test, click on the buttons below to be redirected to the corresponding pages.</p>
<p style="text-align: center"><input type="button" onclick="location.href='http://radu.rotariu.me/raven1';" value="Raven Progressive Matrices (Percentiles)" /></p>
<p style="text-align: center"><input type="button" onclick="location.href='http://radu.rotariu.me/raven2';" value="Raven Advanced Progressive Matrices (85-136)" /></p>
<p style="text-align: center"><input type="button" onclick="location.href='http://radu.rotariu.me/serebryakov';" value="Serebryakov Matrices (97-160)" /></p>