<div>
    <a href='http://radu.rotariu.me/home'>Home</a>
    <a href='http://radu.rotariu.me/apps'>Apps</a>
    <a href='http://radu.rotariu.me/books'>Books</a>
    <a href='http://radu.rotariu.me/cpp'>C++</a>
    <a href='http://radu.rotariu.me/cv'>Curriculum vitae</a>
    <a href='http://radu.rotariu.me/games'>Games</a>
    <a href='http://radu.rotariu.me/iqtests'>IQ Tests</a>
    <a href='http://radu.rotariu.me/origami3d'>Origami 3D</a>
</div>
<div>
    <table style="width:100%">
        <tr>
            <th><h1>Small Scale Projects</h1></th>
            <th><h1>Medium Scale Projects</h1></th>
            <th><h1>Large Scale Projects</h1></th>
        </tr>
        <tr>
            <td style="width:30%; vertical-align:top">
                <h2>Scorpion</h2>
                    <img src="radu/images/Scorpion.jpg" alt='Scorpion' width='100%' style='display: block; aspect-ratio: initial;'>
                    <h3>Details</h3>
                        <p>Time required: ? hours</p>
                        <p>Total number of pieces: ?</p>
                    <h3>Instructions <input type="button" onclick="showHide('scorpionInstructions')" value="Show/Hide" /></h3>
                        <div id='scorpionInstructions' style="display: none">
                            <p>Nothing here yet. Check in later!</p>
                        </div>
                        </br>
                <h2>Heart-Handle Basket</h2>
                    <img src="radu/images/HeartBasket.jpg" alt='Heart-Handle Basket' width='100%' style='display: block; aspect-ratio: initial;'>
                    <h3>Details</h3>
                        <p>Time required: ? hours</p>
                        <p>Total number of pieces: ?</p>
                    <h3>Instructions <input type="button" onclick="showHide('heartBasketInstructions')" value="Show/Hide" /></h3>
                        <div id='heartBasketInstructions' style="display: none">
                            <p>Nothing here yet. Check in later!</p>
                        </div>
                        </br>
                <h2>Swan</h2>
                    <div>
                        <img src="radu/images/Swan1.jpg" alt='Simple White Swan' width='100%' style='display: block; aspect-ratio: initial;'>
                        </br>
                        Simple White Swan
                    </div>
                    </br>
                    <div>
                        <img src="radu/images/Swan2.jpg" alt='White Swan with Red&Black Accents' width='100%' style='display: block; aspect-ratio: initial;'>
                        </br>
                        White Swan with Red&Black Accents
                    </div>
                    <h3>Details</h3>
                        <p>Time required: ? hours</p>
                        <p>Total number of pieces: ?</p>
                    <h3>Instructions <input type="button" onclick="showHide('swanInstructions')" value="Show/Hide" /></h3>
                        <div id='swanInstructions' style="display: none">
                            <p>Nothing here yet. Check in later!</p>
                        </div>
                        </br>
            </td>
            <td style="width:40%; vertical-align:top">
                <h2>Android Robot</h2>
                    <div>
                        <img src="radu/images/Android1.jpg" alt='Green Android with White Accents' width="480" height="360">
                        </br>
                        Green Android with White Accents
                    </div>
                    </br>
                    <div>
                        <img src="radu/images/Android2.jpg" alt='White Android with Green&Black Accents' width="480" height="360">
                        </br>
                        White Android with Green&Black Accents
                    </div>
                    <h3>Details</h3>
                        <p>Time required: 6-8 hours</p>
                        <p>Total number of pieces: 1040</p>
                    <h3>Instructions <input type="button" onclick="showHide('androidInstructions')" value="Show/Hide" /></h3>
                        <div id='androidInstructions' style="display: none">
                            <p>Abbreviations: MC - main colour piece; SC - secondary colour piece.</p>
                            <p>Start from the top (head).</p>
                            <p>Row 1: 5 MC</p>
                            <p>Rows 2&3: 15 MC</p>
                            <p>Rows 4-10: 30 MC</p>
                            <p>Row 11: 26 MC + 4 SC (2 pairs of SC with a distance of 7 MC between them)</p>
                            <p>Row 12: 28 MC + 2 SC (with a distance of 8 between them)</p>
                            <p>Rows 13-15: 30 MC</p>
                            <p>Row 16: 30 SC</p>
                            <p>Rows 17-33: 30 MC</p>
                            <p>Row 34: 15 MC + 15 SC (in alternating sets of three)</p>
                            <p>Row 35: 30 MC</p>
                            <p>Rows 36-40: 5 MC (the legs)</p>
                            <p>Ears: a pair of 3 MC</p>
                            <p>Arms: a pair of 7 MC (6 for the arm + 1 for the joint)</p>
                        </div>
                        </br>
                <h2>Cobra</h2>
                    <div>
                        <img src="radu/images/Cobra1.jpg" alt='Curled Up Long Cobra' width="360" height="480">
                        </br>
                        Curled Up Long Cobra
                    </div>
                    </br>
                    <div>
                        <img src="radu/images/Cobra2.jpg" alt='Standing Short Cobra' width="480" height="360">
                        </br>
                        Standing Short Cobra
                    </div>
                    <h3>Details</h3>
                        <p>Time required: ? hours</p>
                        <p>Total number of pieces: ?</p>
                    <h3>Instructions <input type="button" onclick="showHide('cobraInstructions')" value="Show/Hide" /></h3>
                        <div id='cobraInstructions' style="display: none">
                            <p>Nothing here yet. Check in later!</p>
                        </div>
                        </br>
                <h2>Flower Vase</h2>
                    <div>
                        <img src="radu/images/Vase1.jpg" alt='Flower Vase (Side View)' width="360" height="480">
                        </br>
                        Flower Vase (Side View)
                    </div>
                    </br>
                    <div>
                        <img src="radu/images/Vase2.jpg" alt='Flower Vase (Top View)' width="480" height="360">
                        </br>
                        Flower Vase (Top View)
                    </div>
                    </br>
                    <div>
                        <img src="radu/images/Vase3.jpg" alt='Flowers (Lilies)' width="480" height="360">
                        </br>
                        Flowers (Lilies)
                    </div>
                    </br>
                    <div>
                        <img src="radu/images/Vase4.jpg" alt='Flower Vase (w/ Lilies)' width="480" height="360">
                        </br>
                        Flower Vase (w/ Lilies)
                    </div>
                    <h3>Details</h3>
                        <p>Time required: ? hours</p>
                        <p>Total number of pieces: ?</p>
                    <h3>Instructions <input type="button" onclick="showHide('vaseInstructions')" value="Show/Hide" /></h3>
                        <div id='vaseInstructions' style="display: none">
                            <p>Nothing here yet. Check in later!</p>
                        </div>
            </td>
            <td style="width:30%; vertical-align:top">
                <h2>Huge <a href='https://heartcluj.com/'>HEART</a></h2>
                    <img src="radu/images/HEART.jpg" alt='HEART 2015' width="360" height="480">
                    <h3>Details</h3>
                        <p>Time required: 20 hours</p>
                        <p>Total number of pieces: 1500 (each made from an A4-size sheet of coloured paper)</p>
                        </br>
                <h2><a href='https://lrmd.ro/'>'Regina Maria' Highschool Dorohoi</a> Emblem</h2>
                    <img src="radu/images/Emblem.jpg" alt='Queen Mary Emblem' width="480" height="360">
                    <h3>Details</h3>
                        <p>Time required: ~100 hours</p>
                        <p>Total number of pieces: ~2000-3000</p>
                        </br>
                <h2>Huge Swan</h2>
                    <img src="radu/images/HugeSwan.jpg" alt='Huge Swan' width="360" height="480">
                    <h3>Details</h3>
                        <p>Time required: ~80 hours</p>
                        <p>Total number of pieces: ~2000</p>
                        </br>
            </td>
        </tr>
    </table>
</div>