<div>
    <a href='http://radu.rotariu.me/home'>Home</a>
    <a href='http://radu.rotariu.me/apps'>Apps</a>
    <a href='http://radu.rotariu.me/books'>Books</a>
    <a href='http://radu.rotariu.me/cpp'>C++</a>
    <a href='http://radu.rotariu.me/cv'>Curriculum vitae</a>
    <a href='http://radu.rotariu.me/games'>Games</a>
    <a href='http://radu.rotariu.me/iqtests'>IQ Tests</a>
    <a href='http://radu.rotariu.me/origami3d'>Origami 3D</a>
</div>
<div>
    <h1>Small(-ish) Scale Projects</h1>
        <h2>Android Robot</h2>
            <div>
                <img src="radu/images/Android1.jpg" alt='Green Android with White Accents' width="640" height="480">
                </br>
                Green Android with White Accents
            </div>
            <div>
                <img src="radu/images/Android2.jpg" alt='White Android with Green&Black Accents' width="640" height="480">
                </br>
                White Android with Green&Black Accents
            </div>
            <h3>Details</h3>
            <h3>Instructions</h3>
        <h2>Cobra</h2>
            <div>
                <img src="radu/images/Cobra1.jpg" alt='Curled Up Long Cobra' width="480" height="640">
                </br>
                Curled Up Long Cobra
            </div>
            <div>
                <img src="radu/images/Cobra2.jpg" alt='Standing Short Cobra' width="640" height="480">
                </br>
                Standing Short Cobra
            </div>
            <h3>Details</h3>
            <h3>Instructions</h3>
        <h2>Swan</h2>
            <div>
                <img src="radu/images/Swan1.jpg" alt='Simple White Swan' width="480" height="640">
                </br>
                Simple White Swan
            </div>
            <div>
                <img src="radu/images/Swan2.jpg" alt='White Swan with Red&Black Accents' width="640" height="480">
                </br>
                White Swan with Red&Black Accents
            </div>
            <h3>Details</h3>
            <h3>Instructions</h3>
        <h2>Flower Vase</h2>
            <div>
                <img src="radu/images/Vase1.jpg" alt='Flower Vase (Side View)' width="480" height="640">
                </br>
                Flower Vase (Side View)
            </div>
            <div>
                <img src="radu/images/Vase2.jpg" alt='Flower Vase (Top View)' width="640" height="480">
                </br>
                Flower Vase (Top View)
            </div>
            <div>
                <img src="radu/images/Vase3.jpg" alt='Flowers (Lilies)' width="640" height="480">
                </br>
                Flowers (Lilies)
            </div>
            <div>
                <img src="radu/images/Vase4.jpg" alt='Flower Vase (w/ Lilies)' width="640" height="480">
                </br>
                Flower Vase (w/ Lilies)
            </div>
            <h3>Details</h3>
            <h3>Instructions</h3>
        <h2>Scorpion</h2>
            <img src="radu/images/Scorpion.jpg" alt='Scorpion' width="640" height="480">
            <h3>Details</h3>
            <h3>Instructions</h3>
        <h2>Heart-Handle Basket</h2>
            <img src="radu/images/HeartBasket.jpg" alt='Heart-Handle Basket' width="640" height="480">
            <h3>Details</h3>
            <h3>Instructions</h3>
    <h1>Large Scale Projects</h1>
        <h2>Huge <a href='https://heartcluj.com/'>HEART</a></h2>
            <img src="radu/images/HEART.jpg" alt='HEART 2015' width="480" height="640">
            <h3>Details</h3>
        <h2><a href='https://lrmd.ro/'>'Regina Maria' Highschool Dorohoi</a> Emblem</h2>
            <img src="radu/images/Emblem.jpg" alt='Queen Mary Emblem' width="640" height="480">
            <h3>Details</h3>
        <h2>Huge Swan</h2>
            <img src="radu/images/HugeSwan.jpg" alt='Huge Swan' width="480" height="640">
            <h3>Details</h3>
</div>