<div>
    <a href='http://radu.rotariu.me/home'>Home</a>
    <a href='http://radu.rotariu.me/apps'>Apps</a>
    <a href='http://radu.rotariu.me/books'>Books</a>
    <a href='http://radu.rotariu.me/cpp'>C++</a>
    <a href='http://radu.rotariu.me/cv'>Curriculum vitae</a>
    <a href='http://radu.rotariu.me/games'>Games</a>
    <a href='http://radu.rotariu.me/iqtests'>IQ Tests</a>
    <a href='http://radu.rotariu.me/origami3d'>Origami 3D</a>
</div>
<div>
    <h1>Small(-ish) Scale Projects</h1>
        <h2>Android Robot</h2>
            <div>
                <img src="radu/images/Android1.jpg" alt='Green Android with White Accents' width="640" height="480">
                </br>
                Green Android with White Accents
            </div>
            <img src="radu/images/Android2.jpg" width="640" height="480">
            <h3>Details</h3>
            <h3>Instructions</h3>
        <h2>Cobra</h2>
            <h3>Details</h3>
            <h3>Instructions</h3>
        <h2>Swan</h2>
            <h3>Details</h3>
            <h3>Instructions</h3>
        <h2>Flower Vase</h2>
            <h3>Details</h3>
            <h3>Instructions</h3>
        <h2>Scorpion</h2>
            <h3>Details</h3>
            <h3>Instructions</h3>
        <h2>Heart-Handle Basket</h2>
            <h3>Details</h3>
            <h3>Instructions</h3>
    <h1>Large Scale Projects</h1>
        <h2>Huge <a href='https://heartcluj.com/'>HEART</a></h2>
            <h3>Details</h3>
        <h2><a href='https://lrmd.ro/'>'Regina Maria' Highschool Dorohoi</a> Emblem</h2>
            <h3>Details</h3>
        <h2>Huge Swan</h2>
            <h3>Details</h3>
</div>