<div>
    <a href='http://radu.rotariu.me/home'>Home</a>
    <a href='http://radu.rotariu.me/apps'>Apps</a>
    <a href='http://radu.rotariu.me/cv'>Curriculum Vitae</a>
    <a href='http://radu.rotariu.me/games'>Games</a>
    <a href='http://radu.rotariu.me/iqtests'>IQ Tests</a>
    <a href='http://radu.rotariu.me/utilities'>Utilities</a>
</div>
<h1 style="text-align: center">Raven Advanced Progressive Matrices (85-136)</h1>
<form action="/resultRaven2" method="POST">
    <p>You have correctly answered <%- rapm.length - Raspunsuri_gresite.length -%> out of <%- rapm.length -%> matrices.</p>
    <% if(rapm.length - Raspunsuri_gresite.length == 36) { %>
        <p>Based on this score, your IQ is 136.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 35) { %>
        <p>Based on this score, your IQ is 133.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 34) { %>
        <p>Based on this score, your IQ is 132.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 33) { %>
        <p>Based on this score, your IQ is 131.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 32) { %>
        <p>Based on this score, your IQ is 127.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 31) { %>
        <p>Based on this score, your IQ is 124.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 30) { %>
        <p>Based on this score, your IQ is 123.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 29) { %>
        <p>Based on this score, your IQ is 121.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 28) { %>
        <p>Based on this score, your IQ is 119.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 27) { %>
        <p>Based on this score, your IQ is 117.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 26) { %>
        <p>Based on this score, your IQ is 115.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 25) { %>
        <p>Based on this score, your IQ is 113.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 24) { %>
        <p>Based on this score, your IQ is 111.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 23) { %>
        <p>Based on this score, your IQ is 109.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 22) { %>
        <p>Based on this score, your IQ is 107.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 21) { %>
        <p>Based on this score, your IQ is 106.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 20) { %>
        <p>Based on this score, your IQ is 105.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 19) { %>
        <p>Based on this score, your IQ is 104.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 18) { %>
        <p>Based on this score, your IQ is 102.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 17) { %>
        <p>Based on this score, your IQ is 100.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 16) { %>
        <p>Based on this score, your IQ is 99.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 15) { %>
        <p>Based on this score, your IQ is 98.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 14) { %>
        <p>Based on this score, your IQ is 97.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 13) { %>
        <p>Based on this score, your IQ is 96.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 12) { %>
        <p>Based on this score, your IQ is 95.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 11) { %>
        <p>Based on this score, your IQ is 94.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 10) { %>
        <p>Based on this score, your IQ is 93.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 9) { %>
        <p>Based on this score, your IQ is 92.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 8) { %>
        <p>Based on this score, your IQ is 91.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 7) { %>
        <p>Based on this score, your IQ is 90.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 6) { %>
        <p>Based on this score, your IQ is 90.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 5) { %>
        <p>Based on this score, your IQ is 89.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 4) { %>
        <p>Based on this score, your IQ is 88.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 3) { %>
        <p>Based on this score, your IQ is 87.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 2) { %>
        <p>Based on this score, your IQ is 86.</p>
    <% } %>
    <% if(rapm.length - Raspunsuri_gresite.length == 1) { %>
        <p>Based on this score, your IQ is 85.</p>
    <% } %>
</form>